doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='lib/jade.min.js')
    script(src='lib/jquery.min.js')
    script(src='javascripts/main.js')
  body
    block content
